{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
        <tr>
                {% for post in post %}
                 <td><a href="{{ post.getCategory().getId() }}">
                        {{ post.getCategory().getName()}}</td>
                {% endfor %} </tr>   <tr>
                {% for post in post %}

                <td> {{ post.title() }}</td>
                    {% endfor %}  </tr>

        </tbody>
    </table>
{% endblock %}
