{% extends 'base.html.twig' %}
{% block body %}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Blog</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    {% for post in pagination %}
                        {% include '_post.html.twig' with {'post':post} %}
                    {% endfor %}
                    <nav class="blog-pagination justify-content-center d-flex">
                        {{ knp_pagination_render(pagination) }}
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">


                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Category</h4>
                        <ul class="list cat-list">
                            {% for category in categories %}
                            <li>
                                <a href="{{ path('category_show', {'id': category.id}) }}">{{ category.getName() }}</a>
                            </li>
                            {% endfor %}

                        </ul>
                    </aside>

                    <aside class="single_sidebar_widget popular_post_widget">

                        <h3 class="widget_title">Recent Post</h3>
                        {% for post in posts|slice(0,4) %}

                        <div class="media post_item">
                            <div class="media-body">
                                <a href="{{ path('post-action',{'id': post.id,'name':post.getTitle}) }}">
                                    <h3>{{ post.getTitle()}}</h3>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </aside>


                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}