{% extends 'base.html.twig' %}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>{{ app.request.pathInfo }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<h1>{{ post.title }}</h1>

<p>{{ post.content }}
</p>
<a href='{{ path('post-action',{'id':post.id, 'name':post.title}) }}'>
    Read More
</a>
