{% extends 'base.html.twig' %}
{% block body %}
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>{{ app.request.pathInfo }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aside class="single_sidebar_widget newsletter_widget">
        <h4 class="widget_title">Newsletter</h4>

        <form action="#" name="subscriber" method="post">
            <div class="form-group" id="subscriber">
                <label for="subscriber_email" class="required">Email</label>
                <input type="email" class="form-control" id="subscriber_email"  name="subscriber[email]"  required="required" maxlength="255" onfocus="this.placeholder = ''"
                       onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
            </div>
            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                    type="submit" id="subscriber_save" name="subscriber[save]">Subscribe</button>
            <input type="hidden" id="subscriber__token" name="subscriber[_token]" value="LMweKeKSga7ITMnjed5yrG1dk7-CmDgp56I73Hb6y2w">
        </form>
    </aside>

{% endblock %}
