{% extends 'base.html.twig' %}
{% block body %}
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>{{ app.request.pathInfo }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% form_theme form 'bootstrap_4_layout.html.twig' %}


        <h1>User Sign Up:</h1>
        {{ form(form) }}


        {{ form_start(form) }}
<form class="form-contact single-post-area_form" action="{{ path('article-add-action') }}" id="commentForm">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
             {{ form_row(form.user) }}

            </div>
        </div>
        <div class="col-12">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_row(form.title) }}
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                   {{ form_row(form.category) }}
                </div>
            </div>
            <div class="form-group">
                          {{ form_row(form.content) }}
            </div>
        </div>
    </div>
</form>
        {{ form_end(form) }}
{% endblock %}
