% extends 'base.html.twig' %}
{% block body %}
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>{{ app.request.pathInfo }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>




    {{ form_start(form) }}

<form class="form-contact comment_form" action="{{ path('add-comment') }}" id="commentForm">
    <div class="row">
        <div class="col-12">
            <div class="form-group">  {{ form_row(form.comment) }}
                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                        placeholder="Write Comment">  {{ form_row(form.content) }}</textarea>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input class="form-control" name="name" id="name" type="text" placeholder="username">
                {{ form_row(form.username) }}
            </div>
        </div>
    <div class="form-group">
        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
    </div>
    </div>
</form>
{{ form_end(form) }}
{% endblock %}