{% extends 'base.html.twig' %}
{% block body %}
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>{{ app.request.pathInfo }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2><a href="{{ path('send-newsletters') }}">Send Newsletters</a></h2>
    <table class="table">
        <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
{% for category in categories %}
    <tr>
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>
            <a href="{{ path('category_show', {'id': category.id}) }}">show</a>
            <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
            {{ include('category/_delete_form.html.twig') }}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="3">no records found</td>
    </tr>
{% endfor %}
        <thead>
        <tr>
            <th>Article ID</th>
            <th>Article Title</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
{% for post in posts %}
    <tr>
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>
            <a href="{{ url('post-action', {'id':post.getId(), 'name': post.title()}) }}">show</a>
            <a href="{{ url('article-edit-action', {'id': post.id} )}}">edit</a>
            {{ include('admin/_deleteArticle.html.twig') }}

        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="3">no records found</td>
    </tr>
{% endfor %}
        <thead>
        <tr>
            <th>User Id</th>
            <th>Userame</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
{% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.password }}</td>
        <td>
        <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
        <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
        {{ include('user/_delete_form.html.twig') }}</td>
    </tr>
{% else %}
    <tr>
        <td colspan="3">no records found</td>
    </tr>

{% endfor %} </tbody>
</table>
{% endblock %}