<article class="blog_item">
    <div class="blog_item_img">
        <img class="card-img rounded-0" src="../assets/img/{{ post.getPicture() }}" alt="">
        <a href="#" class="blog_item_date">
            <h3>15</h3>
            <p>Jan</p>
        </a>
    </div>
<div class="blog_details">
    <a class="d-inline-block" href="{{ url('post-action', {'id':post.getId(), 'name': post.getTitle()}) }}">
        <h2>{{ post.getTitle() }}</h2>
    </a>
    <p>{{ post.getContent()|slice(0,250) }}</p>
    <ul class="blog-info-link">
        <li><a href="#"><i class="fa fa-user"></i>    {{ post.category.getName() }}</a></li>
        <li><a href="{{ url('post-action', {'id':post.getId(), 'name': post.getTitle()}) }}"><i class="fa fa-user"></i>Read more</a></li>
    </ul>
</div>
</article>