<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

        <!-- Favicon -->
            <meta charset="utf-8">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <title>Adrian Blog</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- all css here -->

            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/css/themify-icons.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/css/nice-select.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/css/flaticon.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/css/gijgo.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/css/animate.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/css/slick.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/>
           {% endblock %}
    </head>
    <body>
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">

                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="{{ url('homepage')}}">home</a></li>
                                        <li><a href="{{ url('about-action')}}">About</a></li>
                                        <li><a href="{{ url('services-action')}}">Services</a></li>
                                        <li><a href="{{ url('blogpage')}}">blog <i class="active"></i></a>
                                        </li>
                                        <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="{{ url('portfolio-action')}}">Portfolio</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{ url('contact-action')}}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                    <a href="{{ path('subscribe') }}">Subscribe to our newsletter</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <!--================Blog Area =================-->
    {% block body %}{% endblock %}
    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-6">
                        <div class="menu_links">
                            <ul>
                                <li><a href="{{ url('about-action')}}">About</a></li>
                                <li><a href="{{ url('services-action')}}">Services</a></li>
                                <li><a href="{{ url('portfolio-action')}}">Portfolio</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-6 col-md-6">
                        <div class="socail_links">
                            <ul>

                                <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

        {% block javascripts %}
            <!-- JS here -->
            <script src="{{ asset('assets/js/vendor/modernizr-3.5.0.min.js') }}"> </script>
            <script src="{{ asset('assets/js/vendor/jquery-1.12.4.min.js') }}"></script>
            <script src="{{ asset('assets/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('assets/js/isotope.pkgd.min.js') }}"></script>
            <script src="{{ asset('assets/js/ajax-form.js') }}"></script>
            <script src="{{ asset('assets/js/waypoints.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.counterup.min.js') }}"></script>
            <script src="{{ asset('assets/js/imagesloaded.pkgd.min.js') }}"></script>
            <script src="{{ asset('assets/js/scrollIt.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.scrollUp.min.js') }}"></script>
            <script src="{{ asset('assets/js/nice-select.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.slicknav.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('assets/js/plugins.js') }}"></script>
            <script src="{{ asset('assets/js/js/gijgo.min.js') }}"></script>

            <!--contact js-->
            <script src="{{ asset('assets/js/contact.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.ajaxchimp.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.form.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.validate.min.js') }}"></script>
            <script src="{{ asset('assets/js/mail-script.js') }}"></script>
            <script src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
