{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}
{% block body %}
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>{{ app.request.pathInfo }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
